#banner{

width: 70%;

}

body{

background-color: #DDA6FF;
}

.principal{

  background:  #96FFCF;


}

.um{

  text-align: center;
  font-size: 70px;
  color: black;
  font-family: cursive;

}

.dois{
text-align: center;
color: black;
font-family: cursive;
font-size: 40px;
}

#missao{
  font-family:  monospace;
  color: black;
  font-size: 20px;
  text-align: center;
}
#missao2{
  font-family:  monospace;
  color: black;
  font-size: 20px;
  text-align: center;
}
#missao3{
  font-family:  monospace;
  color: black;
  font-size: 20px;
  text-align: center;

}
h3{
  text-align: center;
  font-family: cursive;
  color: black;
  font-size: 40px;
}
.itens{
text-align:left;
font-style: italic;

}
.tres{

padding: 20px;

}
ul{
  margin-right: 15%;
  display: inline-block;
  vertical-align: top;
  width: 290%
}
.Beneficios{
  color: black;
}
.chad{
width: 50%;


}
